<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Me | Carlo Bruno</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <h1>About Me</h1>
    </header>
    <nav>
      <ul class="links">
        <li><a href="/">home</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/skills">skills</a></li>
      </ul>
    </nav>
    <main id="about">
      <p>
        Full-stack Web Developer. Passionate programmer specializing
        in Javascript and React. I aspire to improve my self, and be
        the best version of myself.
      </p>
    </main>
  </body>
</html>
