<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Skills | Carlo Bruno</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <h1>My Skills</h1>
    </header>
    <nav>
      <ul class="links">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
    <main id="skills">
      <p>HTML5</p>
      <p>CSS3, Flex-box, Grid</p>
      <p>Responsive Design</p>
      <p>Git and Github</p>
      <p>JavaScript ES6</p>
      <p></p>
    </main>
  </body>
</html>
